:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #293241DB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
* {
  margin:  0;
  padding: 0;
  user-select: none;
  caret-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}


.sidebar-list li {
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 4px 10px;
  list-style: none;
}
.sidebar-list li:hover{
  background-color: #f4f1de;
  color: #293241;
  border-radius: 12px;
  cursor: pointer;
}
.sidebar-list p {
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.icon-img {
  transition: transform 0.25s ease;
}
.icon-img:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;   
  cursor: pointer;
  position: relative;
}
.checkbox:checked {
  background-color: #348a3e;
  border: none;
}
